<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <!-- include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>URL Shortener</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.url.label }} {{ form.url(class="form-control") }}
            {% if form.url.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.url.errors }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label }} {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.name.errors }}
                    {% endif %}

                </div>
                <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
    <br>
    <h2>Shortened URLs:</h2>
    {% if urls %}
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for short_url, data in urls.items() %}
        <tr>
            <td>
                {% if data.name %}
                <a href="{{ url_for('redirect_to_url', short_url=short_url) }}">{{ data.name }}</a>
                {% else %}
                <a href="{{ url_for('redirect_to_url', short_url=short_url) }}">{{ url_for('redirect_to_url',
                    short_url=short_url, _external=True) }}</a>
                {% endif %}
            </td>
            <td>{{ data.url }}</td>
            <td>
                <div class="btn-group" role="group">
                    {% if data.name %}
                    <button onclick="copyToClipboard('http://127.0.0.1:5000{{ url_for('redirect_to_url', short_url=short_url) }}')"
                            class="btn btn-secondary">Copy
                    </button>
                    {% else %}
                    <button onclick="copyToClipboard('{{ url_for('redirect_to_url', short_url=short_url, _external=True) }}')"
                            class="btn btn-secondary">Copy
                    </button>
                    {% endif %}
                    <form method="post" action="{{ url_for('delete_url', short_url=short_url) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No URLs yet.</p>
    {% endif %}
</div>

<!-- include Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function copyToClipboard(text) {
        var dummy = document.createElement("textarea");
        document.body.appendChild(dummy);
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }
</script>
<style>
        table {
            table-layout: fixed;
        }
        td {
            overflow: hidden;
            padding: 5px;
        }
</style>
</body>
</html>